target
.idea
*.iws
*.iml
*.ipr
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode
logs
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
generated/*
